<!--
    .tab {margin-left: 40px;}
    .doubletab {margin-left: 80px;}
    .centered {text-align: center; margin-left: 0px}
    .text-center {text-align: center;}
    .display-inline {display: inline-block;}
    -->

body {
background-color: #1c1c20;
}

h1 {
display: block;
margin-left: auto;
text-align: left;
color: #f9c922
}
h2 {
display: block;
margin-left: auto;
text-align: left;

color: #f9c922
}
h3 {
display: block;
margin-left: auto;
text-align: left;

color: #f9c922
}
h4 {
display: block;
margin-left: auto;
text-align: left;

color: #f9c922
}
h5 {
display: block;
margin-left: auto;
text-align: left;

color: #f9c922
}
h6 {
display: block;
margin-left: auto;
text-align: left;

color: #f9c922
}
p {
display: block;
margin-left: auto;
text-align: left;

color: #f9c922
}
a {
display: block;
margin-left: auto;
text-align: left;

color: #915a98
}