<!--
    .tab {margin-left: 40px;}
    .doubletab {margin-left: 80px;}
    .centered {text-align: center; margin-left: 0px}
    .text-center {text-align: center;}
    .display-inline {display: inline-block;}
    -->

@font-face {
    font-family: "open-sans";
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,600;1,400&family=Open+Sans&display=swap');
}

:root {
  --text-colour: #d5d7d9;
  --link-colour: #47a3ff;
}


body {
background-image: url(images/bg.png);
background-repeat: repeat;
font-family: 'open-sans', Trebuchet, sans-serif;
}

h1 {
display: block;
margin-left: auto;
text-align: left;

color: var(--text-colour);
}

h2 {
display: block;
margin-left: auto;
text-align: left;

color: var(--text-colour);
}

h3 {
display: block;
margin-left: auto;
text-align: left;

color: var(--text-colour);
}

h4 {
display: block;
margin-left: auto;
text-align: left;

color: var(--text-colour);
}

h5 {
display: block;
margin-left: auto;
text-align: left;

color: var(--text-colour);
}

h6 {
display: block;
margin-left: auto;
text-align: left;

color: var(--text-colour);
}

p {
display: block;
margin-left: auto;
text-align: left;

color: var(--text-colour);
}

a {
display: block;
margin-left: auto;
text-align: left;

color: var(--link-colour);
}